// fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Sen:wght@400;700;800&display=swap');
$sec-font: 'Inter', sans-serif;
$main-font: 'Sen', sans-serif;
//colors
$dark: #252525;
$light: #ebebeb;
$primary: #8052c8;
$gray: #d7d7d7;
$accent: #fc3232;
$acrylic-light: #ffffff4f;
$acrylic-dark: #2525259b;
