@import './src/sass/reset';
@import './src/sass/boxes';

#root {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $light;
  overflow: hidden;
}

.Header {
  @include flexBox($jc: flex-start);
  position: absolute;
  width: 100%;
  padding: 1em 2em;
  gap: 1em;

  &-logo {
    color: $accent;
    font-size: 1.6em;
  }

  &-form {
    @include flexBox($jc: flex-start);
    gap: 1em;
    width: 33%;
    border: 2px solid $gray;
    padding: 0em 1em;
    border-radius: 3em;
  }

  &-label {
    font-size: 1.1em;
    color: $acrylic-dark;
  }

  &-search {
    outline: none;
    color: $accent;
    padding: 0.3em;
    font-size: 1.1em;
  }
}

.Nav {
  @include flexBox($jc: flex-start);
  align-items: center;
  width: 3em;
  height: 3em;

  &-btn {
    font-size: 2em;
    width: 3em;
    color: $acrylic-dark;

    &:hover {
      color: $dark;
    }

    &:active {
      color: $accent;
    }
  }

  &-menu {
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    width: 55%;
    overflow: hidden;
    top: 4em;
    background-color: $accent;
    border-radius: 0 0 0.2em 0.2em;
    transition: all 0.2s;

    &--open {
      opacity: 1;
    }
  }

  &-item {
    @include flexBox;
    padding: 0 1.5em;
    height: 3em;
    width: 100%;
    user-select: none;
    text-transform: uppercase;

    &:hover {
      background-color: $dark;
      color: $light;
    }

    &:active {
      background-color: $acrylic-dark;
    }
  }
}

.Main {
  @include flexBox($ff: column nowrap, $jc: flex-start);
  padding: 0 2em 0;
  width: 100%;
  height: 100%;
}

.Watch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 100%;
  height: 90%;
  padding: 3em 4em;
  gap: 2em;

  &-wrapper {
    @include flexBox($ff: column nowrap);
    width: 100%;
    gap: 1em;
  }

  &-headings {
    @include flexBox($ff: column nowrap);
    width: 100%;
    align-items: flex-start;
  }

  &-h2 {
    font-size: 1.5em;
    font-style: italic;
  }

  &-h3 {
    font-size: 1.8em;
    text-transform: uppercase;
  }

  &-h4 {
    font-size: 1.2em;
    color: $accent;
  }

  &-info {
    @include flexBox($ff: column nowrap);
    width: 100%;
    align-items: flex-start;
    border-top: 2px solid $gray;
    border-bottom: 2px solid $gray;
    padding: 1em 0;
  }

  &-materials {
    font-size: 1.2em;
  }

  &-sku {
    font-size: 1.2em;
    color: #000;
  }

  &-price {
    @include flexBox($ff: column nowrap);
    width: 100%;
    align-items: flex-start;
  }

  &-btn {
    @include btn;
    align-self: flex-start;
  }

  &-picture {
    @include flexBox;
    width: 100%;
    height: 100%;
  }

  &-img {
    height: 100%;
    object-fit: cover;
  }
}

.Social {
  @include flexBox;
  width: 100%;
  height: 100%;

  &-list {
    @include flexBox($jc: flex-end);
    width: 90%;
    gap: 1em;
  }

  &-item {
    width: 2em;

    &:hover {
      color: $accent;
    }

    &:active {
      color: $acrylic-dark;
    }
  }

  &-link {
    font-size: 1.5em;
  }
}

.Controls {
  position: absolute;
  @include flexBox;
  top: 50%;
  width: 100%;
  padding: 0 2em;
  justify-content: space-between;

  &-btn {
    @include flexBox;
    font-size: 2em;
    cursor: pointer;
    color: $acrylic-dark;
    transition: 0.2s;

    &:hover {
      color: $dark;
    }

    &:active {
      color: $accent;
    }
  }
}

/*----transition----*/

.fade {
  &-enter {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: all 0.5s;
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: all 0.5s;
    }
  }
}
